.text {
	
	font-size: 30px;
	}
	.text1 {
	
	font-size: 20px;
	}
	.pink {
		
		background-color: pink;
	}
	
	.yellow {
		
		background-color: yellow;
	}
	
	.green {
		
		background-color: green;
	}
	
	.purple {
		
	background-color: 	#BA55D3;
	
}
.red {
		
	background-color: 	red;
	
}
	