


.text {
	font-size: 30px;
	
}


.blue {
	
	color: black;
	background-color: #008080;
	
}


.grey {
	
	background-color: #C0C0C0;
}

.orange {
	background-color: #FF8C00;
	
}