.text {
	
	font-size: 30px;
	}
	
	
	.one {
		
	background-color: blue;	
	}
	
	.grey {
	
	background-color: #C0C0C0;
}

	
	.green {
	
	background-color: green;
}

.blue_1 {
		
	background-color: 	#00FFFF;
	
}

.purple {
		
	background-color: 	#800080;
	
}